/* Global styles */
.completed {
    text-decoration: line-through;
}

.form-item{
    display: flex;
    border-radius: 10px;
    border: none;
    padding: 10px;
    background: #fff;
    color: black;
    justify-content: center;
    width: 85%;
}
.form-item input{
    width: 100%;
}
.list-item2 {
    border-radius: 10px;
    padding: 0 10px;
    background: #fff;
    color: black;
    display: flex;
    justify-content: space-between;
    outline: none;
    width: 100%;
}
input{
    outline: none;
    border: none;
}
.list { 
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: rgb(233, 230, 230);
    border-radius: 1rem;
    width: 100%;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    min-height: 70vh;
    border-radius: 2rem;
    text-align: start;
}
h2{
    padding: 0  60px;
    width: 100%;
}
.formContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2rem;
    width: 100%;
    min-height: 30vh;
}
.main {
    font-family: monospace;
    color: azure;
    width: 100%;
    padding: 2rem;
    height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(73, 130, 222, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.button{
    background: none;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.formbtn {
    box-sizing: border-box;
    background: none;
    border: none;
    border-radius: 0  10px 10px 0;
    cursor: pointer;
    padding: 10px 10px;
    width: 15%;
}

button:hover {
    background-color: #fbf5aa;
    transition-duration: 0.2s;
}


@media (min-width:720px) {
    .list{
        width: 900px;
    }
    h2 {
        padding: 0 5px;
            width: 800px;
        }
    .formContent {
        align-items: center;
    }
}